h1{
    font-size:70px;
  }

  h2{
    font-family:palatino linotype;
  }

  img{
    width:700px;
    border-color: black;
    border-width: 15px;
    border-style: solid;
    border-radius: 50px;
    margin: 20px;
    padding: 5px 5px 35px 5px;
  }

  ul{
    font-style:georgia;
  }

  .caption{
    font-style:italic;
    font-size:18px;
    margin-top:-65px;
    margin-bottom:50px;
    text-align:center;
  }

  .well{
    padding-top:-15px;
    padding-bottom:-15px;
       }
